<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--  数据库事务相关-->
    <!-- 加载jdbc配置文件 -->
    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>
    <!-- 数据库连接池 -->
    <bean id="datasource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${datasource.url}"></property>
        <property name="driverClassName" value="${datasource.driver}"></property>
        <property name="username" value="${datasource.username}"></property>
        <property name="password" value="${datasource.password}"></property>
    </bean>
    <!-- 数据库连接池事务管理器对象 -->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <property name="dataSource" ref="datasource"></property>
    </bean>
    <!--  事务注解驱动: @Transactional -->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>
</beans>