<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--启用分页合理化：如果没有上一页返回第一页，如果没有下一页返回最后一页-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
</configuration>
